<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1082938957618-us50eru9evt9l6gqagq5g1cbvkgtcds7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1082938957618-us50eru9evt9l6gqagq5g1cbvkgtcds7</string>
	<key>API_KEY</key>
	<string>AIzaSyCyyuDt2ks1Xsox9HkQWbbGDFaF5wnhs4U</string>
	<key>GCM_SENDER_ID</key>
	<string>1082938957618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.janly.smh</string>
	<key>PROJECT_ID</key>
	<string>smhmovie-52105</string>
	<key>STORAGE_BUCKET</key>
	<string>smhmovie-52105.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082938957618:ios:cfbacc9b35bfccb123412b</string>
	<key>DATABASE_URL</key>
	<string>https://smhmovie-52105.firebaseio.com</string>
</dict>
</plist>